name: 'release'
on: [workflow_dispatch]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v2
      - uses: decentraland/gh-action-release@0.1.0
        id: result
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: echo "Github context ${{ steps.result.outputs.context}}"
      - run: echo "Last tag ${{ steps.result.outputs.lastTag}}"
      - run: echo "Commits found ${{ steps.result.outputs.commits}}"
      - run: echo "Major being bumped ${{ steps.result.outputs.bumpMajor}}"
      - run: echo "Minor being bumped ${{ steps.result.outputs.bumpMinor}}"
      - run: echo "Patch being bumped ${{ steps.result.outputs.bumpPatch}}"
      - run: echo "New tag ${{ steps.result.outputs.newTag}}"
